@tailwind base

@tailwind components

@tailwind utilities


@mixin link
  a
    color: #e3e2df
    margin: 0px 2px
    padding: 5px 10px
    border-radius: 10px
    transition: 0.5s
    vertical-align: middle
    &:hover
      color: #e3e2df
      text-decoration: none
      background-color: #c3073f


body
    height: 100vh
    display: flex
    align-items: center
    text-align: center
    vertical-align: middle
    background-image: url(../assets/imgs/bg1.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    p
      color: #e3e2df
      text-align: center
      font-size: 3rem
      display: block
      user-select: none

.header
  text-align: center
  margin: 0 auto
  padding: 40px 80px
  background-color: rgba( 0, 0, 0, .5)
  border-radius: 10px

.links
  display: block
  margin-top: 20px
  a
  @include link

.navbar
  position: fixed
  top: 0
  background-color: rgba( 0, 0, 0, .5)
  width: 100%
  vertical-align: middle
  display: flex
  padding: 10px 50px

.nav-links
  a
  @include link

.brand
  font-weight: bold
  font-size: 20px
  transition: 0.5s
  color: #e3e2df
  &:hover
    display: flex
    color: #fff
    text-decoration: none
    vertical-align: middle
