@tailwind base

@tailwind components

@tailwind utilities

// colors var
$black-background: #272727
$dark-background: #1f2833
$text-color: #c5c6c7
$special-text: #66fcf1
$btn-color: #45a29e
$navbar-bg: #222
$scroll-bar-hover: #44a7a0
$copyright-footer: #1a1a1d
$footer: #202224

// beackpoints var
$big: 1280px
$medium: 900px
$small: 480px

@mixin link
    color: $text-color
    margin: 2px 6px
    padding: 5px 10px
    border-radius: 2px
    transition: 0.3s
    vertical-align: middle
    text-decoration: none
    box-sizing: border-box
    display: inline-block

@mixin links
  width: 100%
  display: inline-block
  margin-top: 20px
  padding-left: 20px

body
  width: 100%
  height: 100%
  background-color: $dark-background

// navbar

.wrapper
  position: fixed
  width: 100%
  transition: all 0.7s
  input[type="checkbox"]
    display: none

.navbar
  position: relative
  display: flex
  max-width: calc(100% - 200px)
  margin: 0 auto
  height: 70px
  justify-content: space-between
  padding: 60px 100px
  transition: all 0.7s

  .content
    display: flex
    align-items: center
    &::before
      position: absolute
      content: ''
      z-index: -1
      left: 0
      top: 0
      height: 100%
      width: 100%
      background-color: $black-background
      transition: transform 0.3s ease
      transform: scaleX(0)
      transform-origin: left

.nav-links
  margin-left: 80px
  display: flex
  text-decoration: none
  a
    font-size: 18px
    font-weight: 500
    color: $text-color
    transition: 0.3s
    padding: 7px 17px
    margin: 2px
    border-radius: 5px
    &:hover
      text-decoration: none
      background-color: $btn-color

      // a
      //   @include link
      //   &:hover
      //     color: $special-text

.navbar-scroll
  padding: 10px 50px
  background-color: $black-background
  z-index: 9999
  .navbar
    padding: 0
  .search-box
    padding-top: 0
    max-width: calc(100% - 50px)
    .go-icon
      transform: translateY(-50%)

.brand
  font-weight: bold
  font-size: 30px
  font-weight: 600
  transition: 0.7s
  color: $text-color
  text-decoration: none
  &:hover
    text-decoration: none
    color: $special-text
    vertical-align: middle
    border-bottom: solid 2px $btn-color

.search-icon , .menu-icon
  color: $text-color
  font-size: 18px
  cursor: pointer
  line-height: 70px
  width: 70px
  text-align: center
  transition: 0.3s
  &:hover
    color: $btn-color

.menu-icon
  display: none

.search-box
  position: absolute
  height: 100%
  max-width: calc(100% - 270px)
  width: 100%
  opacity: 0
  pointer-events: none
  transition: all 0.3s ease
  padding-top: 60px
  input
    width: calc(100% - 20px)
    height: 100%
    border: none
    outline: none
    font-size: 17px
    color: $text-color
    background: none
    // background: $dark-background
    &::placeholder
      color: $text-color

.go-icon
  position: absolute
  right: 0px
  top: 50%
  transform: translateY(8%)
  line-height: 60px
  width: 70px
  background: none
  border: none
  outline: none
  color: $text-color
  font-size: 20px
  cursor: pointer
  transition: 0.3s
  &:hover
    color: $btn-color

#show-search
  &:checked ~ .menu-icon
    display: none
  &:checked ~ .search-box
    opacity: 1
    pointer-events: auto
  &:checked ~ .content
    opacity: 0
    pointer-events: none
  &:checked ~ .search-icon
    i
      &::before
        content: "\f00d"

// welcome

.welcome
  width: 100%
  height: 100vh
  display: flex
  background-image: url(https://imgs.elkoob.ir/about/background-dark.jpg)
  background-repeat: no-repeat
  background-position: left
  background-size: cover
  vertical-align: middle
  align-items: center

.welcome-content
  margin-top: -100px

.notice
  color: $special-text
  text-align: left
  font-size: 3rem
  display: inline-block
  user-select: none
  width: 100%
  padding: 0 40px

.links
  @include links
  a
    @include link
    &:hover
      background-color: none
      border: solid 2px $btn-color
      margin: 0 4px

// ourteam

.team
  @include links
  a
    text-decoration: none
    &:hover
      text-decoration: none

.person-profile
  width: 300px
  height: 300px
  padding: 25px 35px
  text-align: center
  overflow: hidden
  color: #e3e2df
  vertical-align: top
  display: inline-block
  margin: 0px 5px 25px 5px
  transition: all 0.3s ease
  border: solid #c3073f 0px
  border-radius: 6px
  cursor: pointer
  background-color: rgba( 33, 33, 33, .8)
  .zoom
    transition: all 0.3s ease
  &:hover
    color: #c3073f !important
    .zoom
      transform: scale(1.05)
    img
      border-color: #e3e2df
      box-shadow: 0 0 0 38em #c3073f

.name
  @include link
  width: 100%
  display: block

img
  color: #e3e2df
  width: 150px !important
  height: 150px
  margin: 5px auto
  border-radius: 50%
  border: solid #c3073f 4px
  overflow: hidden
  transition: all 0.7s ease

.job
  @include link
  height: auto
  width: 100%
  display: block

.our-team
  max-width: 100%
  margin: 50px 50px
  height: 100%

.notice-exp
  width: 100%
  position: relative
  color: #e3e2df
  text-align: center
  font-size: 3rem
  display: inline-block
  user-select: none
  margin-bottom: 60px

.notice-exp::before
  content: ""
  position: absolute
  bottom: -25px
  left: 50%
  transform: translateX(-50%)
  width: 180px
  height: 5px
  background-color: #c3073f
  border-radius: 20px

.notice-exp::after
  content: "Who we are"
  position: absolute
  bottom: -40px
  left: 50%
  padding: 5px 10px
  background-color: #212121
  transform: translateX(-50%)
  font-size: 17px
  color: #e3e2df
  border-radius: 20px

.owl-dots
    text-align: center
    margin-top: 20px

.owl-dot
    height: 13px
    width: 13px
    margin: 0 5px
    outline: none!important
    border-radius: 50%
    border: 2px solid crimson!important
    transition: all 0.3s ease

.owl-dot.active
    width: 35px
    border-radius: 14px

.owl-dot.active , .owl-dot:hover
    background: crimson!important

.owl-carousel
  z-index: auto

.scroll
  overflow: auto

::-webkit-scrollbar
    width: 10px

::-webkit-scrollbar-track
    background: $black-background

::-webkit-scrollbar-thumb
    background: $special-text
    transition: 0.3s ease
    border-radius: 10px


::-webkit-scrollbar-thumb:hover
    background: $scroll-bar-hover


.category
  width: 100%
  .content
    width: 200px
    max-width: 300px
    min-width: 200px
    height: 60px
    max-height: 100px
    color: #e3e2df
    display: inline-block
    margin: 5px 10px
    padding: 20px 5px


// footer

.footer
    background-color: $footer
    width: 100%
    height: 400px
    display: block
    .footer-content
      display: flex
      box-sizing: border-box
      text-align: center
      height: 100%
      width: 100%
      .footer-col-1
        height: 100%
        width: calc(98% / 3)
        display: flex
        margin: 0px
        padding: 0
        color: red
      .footer-col-2
        height: 100%
        width: calc(98% / 3)
        margin: 0px
        padding: 0
        display: flex
      .footer-col-3
        height: 100%
        width: calc(98% / 3)
        margin: 0px
        padding: 0
        display: flex
    .copyright
      background: $copyright-footer
      p
        color: $text-color
        padding: 10px 50px
        font-weight: bold
        text-align: center
        user-select: none
      a
        display: inline-block
        color: #45a29e
        text-decoration: none
        font-size: 17px
        font-weight: bold
        transition: all 0.3s
        &:hover
          color: $special-text


// responsive code
@media screen and (max-width: $big)
  // navbar
  .navbar-scroll
    .navbar
      padding: 0
    .search-box
      padding-top: 0
      max-width: calc(100% - 50px)
      .go-icon
        transform: translateY(-50%)

  .navbar
    max-width: 100%
    padding: 60px 100px

  .search-box
    padding-top: 60px
    max-width: calc(100% - 270px)

  .go-icon
    transform: translateY(8%)
    right: 0

  .nav-links
    margin-left: 30px
    a
      padding: 8px 13px

  //footer

@media screen and (max-width: $medium)
  // navbar
  .navbar
    padding: 0
    .search-box
      padding-top: 0
      max-width: calc(100% - 120px)
      input
        margin-left: 25px
      .go-icon
        transform: translateY(-50%)

  #show-menu
    &:checked ~ .content
      .nav-links
        left: 0
    &:checked ~ .menu-icon
      i
        &::before
          content: "\f00d"
    &:checked ~ .content
      &::before
        transform: scaleX(1) !important

  .menu-icon
    display: block

  .navbar-scroll
    padding: 0px
    .go-icon
      right: -50px

  .navbar
    padding: 0px 25px

  .nav-links
    display: block
    position: fixed
    background: $navbar-bg
    height: 100%
    width: 100%
    top: 70px
    left: -100%
    margin-left: 0
    max-width: 350px
    transition: all 0.3s ease
    a
      margin: 15px 20px
      line-height: 40px
      font-size: 20px
      display: block
      padding: 8px 18px
  //footer
  .footer
    .copyright
      p
        padding: 10px 5px
        font-size: 14px
        a
          font-size: 16px

@media screen and (max-width: $small)
  // navbar
  #show-menu
    &:checked ~ .menu-icon
      margin-left: -20px
    &:checked ~ .search-icon
      margin-right: -20px
  .navbar-scroll
    .search-icon , .menu-icon
      margin: 0!important
    .search-box
      .go-icon
        right: -80px!important
        width: 40px
  .navbar
    height: 50px
    .menu-icon , .search-icon
      line-height: 50px
      font-size: 15px
      width: 40px
    .search-box
      .go-icon
        right: -30px
        width: 40px
    .content
      .brand
        font-size: 20px
      .nav-links
        top: 50px
        max-width: 250px
        a
          font-size: 16px
          line-height: 25px

  //footer
  .footer
    .copyright
      p
        padding: 10px 5px
        font-size: 10px
        a
          font-size: 12px
